storycraftbooks.com {
	encode zstd gzip

	handle /api/* {
		reverse_proxy api:3001
	}

	handle {
		reverse_proxy web:3000
	}
}

www.storycraftbooks.com {
	redir https://storycraftbooks.com{uri} permanent
}

s3.storycraftbooks.com {
	reverse_proxy garage:3900
}
